.what {
    display: flex;
    justify-content: center;
}

.what__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    @media #{$desktop} {
        flex-direction: row;
    }
}

.what__mobile {
    margin: 0 auto;
    max-width: 100%;
    @media #{$desktop} {
        margin: auto rem(42) auto auto;
    }
}

.what__title {
    color: #60759d;
    font-size: rem(26);
    font-weight: 500;
    line-height: rem(54);
    margin-bottom: rem(30);
    @media #{$desktop} {
        font-size: rem(36);
    }
}

.what__subtitle {
    color: #60759d;
    font-size: 1rem;
    font-weight: 700;
    line-height: rem(24);
    margin-bottom: rem(25);
}

.what__list {
    color: #60759d;
    font-size: 1rem;
    font-weight: 700;
    line-height: rem(24);
    margin-bottom: rem(40);

    @media #{$desktop} {
        width: rem(457);
    }
}

.what__item {
    color: #16afe0;
    margin-bottom: rem(20);
}

.what__item-text {
    color: #60759d;
}

.what__btn {
    border-radius: 30px;
    background-color: #e70067;
    cursor: pointer;
    border: none;
    padding: rem(23) rem(35);
    color: #fdfffc;
    font-size: 16px;
    font-weight: 700;
    margin-left: rem(-10);

    &:hover {
        box-shadow: 0 6px 33px 7px rgba(231, 0, 103, 0.36);
        background-color: #c9005a;
        padding: rem(23) rem(70);
    }
}